aside {
  overflow: hidden;
}

span {
  transition-property: opacity, width, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group\/sidebar:hover svg {
  transform: scale(1.05);
}