<div class="min-h-screen">
  <app-lesson-header
    [currentLessonNumber]="currentLesson.orderIndex"
    [totalLessons]="48"
    [lessonTitle]="currentLesson.title"
    [isFirstLesson]="currentLesson.orderIndex === 1"
    [isLastLesson]="currentLesson.orderIndex === 48"
    (previousLesson)="previousLesson()"
    (nextLesson)="nextLesson()">
  </app-lesson-header>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-6">
    <div class="lg:col-span-2">
      <div class="bg-[#111215] rounded-xl overflow-hidden">
        <div class="relative w-full" style="padding-top: 56.25%;">
          <iframe 
            [src]="currentLesson.videoUrl | safe: 'resourceUrl'"
            class="absolute top-0 left-0 w-full h-full"
            allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" 
            allowfullscreen="true">
          </iframe>
        </div>
      </div>
      
      <div class="mt-6">
        <app-description-lesson 
          title="angular" 
          description="En esta lección aprenderás los conceptos básicos de Angular y cómo empezar a construir aplicaciones modernas con este poderoso framework."
        ></app-description-lesson>
      </div>

      <div class="mt-6">
        <app-lesson-resources></app-lesson-resources>
      </div>
    </div>
    
    <div class="lg:col-span-1">
      <app-comments-section></app-comments-section>     
    </div>
  </div>
</div>