<div class="flex items-center gap-2">
  <div class="h-4 w-4 rounded-full border animate-bounce-dot" [ngClass]="theme === 'dark' ? 'border-neutral-100 bg-gradient-to-b from-neutral-100 to-neutral-300' : 'border-neutral-700 bg-gradient-to-b from-neutral-700 to-neutral-900'"></div>
  <div class="h-4 w-4 rounded-full border animate-bounce-dot-delay-1" [ngClass]="theme === 'dark' ? 'border-neutral-100 bg-gradient-to-b from-neutral-100 to-neutral-300' : 'border-neutral-700 bg-gradient-to-b from-neutral-700 to-neutral-900'"></div>
  <div class="h-4 w-4 rounded-full border animate-bounce-dot-delay-2" [ngClass]="theme === 'dark' ? 'border-neutral-100 bg-gradient-to-b from-neutral-100 to-neutral-300' : 'border-neutral-700 bg-gradient-to-b from-neutral-700 to-neutral-900'"></div>
</div>